/* Variables */
:root {
    --orange: #cc4d29;
    --font-gray: #6c757d;
    --dark: #333;
    --red: #c73535;
    --green: #0b960bed;
}

/* Reglas de normalización */
html,
body {
    width: 100%;
    height: calc(100% - 5rem);
    background-color: rgb(238, 238, 238);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather';
    color: var(--dark);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

ul {
    list-style: none;
}
